*{
    padding: 0px;
    margin: 0px;

}

a{
    text-decoration: none !important;
}

@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppins-bold;
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: poppins-semibold;
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: poppins-medium;
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: poppins-extrabold;
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}

html{
    font-size: 14px;
}

a{
    text-decoration: none;
}

.align-center{
    align-items: center;
}

.flex-container{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.column{
    flex-direction: column;
}

.justify-start{
    justify-content: flex-start;
}

.align-end{
    align-items: flex-end;
}

.align-start{
    align-items: flex-start;
}

.wrap{
    flex-wrap: wrap;

}

.button{
    padding: 15px 25px;
}

.slide-card{
    width: 32%;
    min-width: 32%;
    
    &:not(:first-child){
        margin-left: 20px;
    }
    
    @media only screen and (max-width: 1206px){
        width: 40%;
        min-width: 40%;


    }

    @media only screen and (max-width: 906px){
        width: 45%;
        min-width: 45%;


    }

    @media only screen and (max-width: 799px){
        width: 50%;
        min-width: 50%;


    }

    @media only screen and (max-width: 719px){
        width: 55%;
        min-width: 55%;


    }

     @media only screen and (max-width: 659px){
        width: 100%;
        min-width: 100%;


    }
}