/*---------------------
  Shopping Cart
-----------------------*/
section .shopping-cart {
  margin-bottom: 5rem;
}

.shopping__cart__table {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.shopping__cart__table table {
  width: 100%;
}
.shopping__cart__table table thead {
  border-bottom: 1px solid #f2f2f2;
}
.shopping__cart__table table thead tr th {
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.shopping__cart__table table tbody tr {
  border-bottom: 1px solid #f2f2f2;
}
.shopping__cart__table table tbody tr td {
  padding-bottom: 30px;
  padding-top: 30px;
}
.shopping__cart__table table tbody tr td.product__cart__item {
  width: 400px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
  float: left;
  margin-right: 30px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic img {
  max-width: 100%;
  width: 50%;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text {
  padding-top: 21px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text h6 {
  color: #0d0d0d;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text h5 {
  color: #0d0d0d;
  font-weight: 700;
}
.shopping__cart__table table tbody tr td.quantity__item {
  width: 175px;
}
.shopping__cart__table table tbody tr td.quantity__item .quantity {
  display: grid;
  width: 140px;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.shopping__cart__table table tbody tr td.quantity__item .quantity h3 {
  margin-bottom: 0;
}
.shopping__cart__table table tbody tr td.quantity__item .quantity button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 1rem 0;
  width: 2rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopping__cart__table table tbody tr td.cart__price {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
  width: 140px;
}
.shopping__cart__table table tbody tr td.cart__close .clear-icon {
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

.continue__btn.update__btn {
  text-align: right;
}
.continue__btn.update__btn button {
  color: #e1e1e1;
  background: #0d0d0d;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #e1e1e1;
  padding: 14px 35px;
  display: inline-block;
}
.continue__btn a {
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #e1e1e1;
  padding: 14px 35px;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .shopping__cart__table {
    overflow-y: auto;
  }
  .shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
    float: none;
    margin-right: 0;
  }
}/*# sourceMappingURL=cart.css.map */