/*---------------------
  Shopping Cart
-----------------------*/
section .shopping-cart {
  margin-bottom: 5rem;
}

.shopping__cart__table {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.shopping__cart__table table {
  width: 100%;
}
.shopping__cart__table table thead {
  border-bottom: 1px solid #f2f2f2;
}
.shopping__cart__table table thead tr th {
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.shopping__cart__table table tbody tr {
  border-bottom: 1px solid #f2f2f2;
}
.shopping__cart__table table tbody tr td {
  padding-bottom: 0px;
  padding-top: 10px;
}
.shopping__cart__table table tbody tr td.product__cart__item {
  width: 250px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
  margin-right: 30px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic img {
  max-width: 100%;
  width: 50%;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text {
  overflow: hidden;
  padding-top: 21px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text h6 {
  color: #0d0d0d;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text h5 {
  color: #0d0d0d;
  font-weight: 700;
}
.shopping__cart__table table tbody tr td.quantity__item {
  width: 175px;
}
.shopping__cart__table table tbody tr td.quantity__item .quantity {
  display: grid;
  width: 140px;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.shopping__cart__table table tbody tr td.quantity__item .quantity h3 {
  margin-bottom: 0;
}
.shopping__cart__table table tbody tr td.quantity__item .quantity button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 1rem 0;
  width: 2rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopping__cart__table table tbody tr td.cart__price {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
  width: 140px;
}
.shopping__cart__table table tbody tr td.cart__close .clear-icon {
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

.cart-actions .clear-cart-btn {
  color: #e1e1e1;
  background: #0d0d0d;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #e1e1e1;
  padding: 14px 35px;
  display: inline-block;
  text-align: center;
}
.cart-actions .continue-shopping-btn {
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #e1e1e1;
  padding: 14px 35px;
  display: inline-block;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .cart-actions {
    flex-direction: column;
  }
  .cart-actions .clear-cart-btn {
    margin-top: 20px;
  }
}

.cart__total {
  background: #f3f2ee;
  padding: 35px 40px 40px;
  margin: 5rem 0;
}
.cart__total h6 {
  color: #0d0d0d;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.cart__total ul {
  margin-bottom: 25px;
}
.cart__total ul li {
  list-style: none;
  font-size: 16px;
  color: #444444;
  line-height: 40px;
  overflow: hidden;
}
.cart__total ul li span {
  font-weight: 700;
  color: #444444;
  float: right;
}
.cart__total .btn-total {
  display: block;
  padding: 12px 10px;
  text-align: center;
  letter-spacing: 2px;
  background-color: #0d0d0d;
  color: #e1e1e1;
}

@media only screen and (max-width: 767px) {
  .shopping__cart__table {
    overflow-y: auto;
  }
  .shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
    float: none;
    margin-right: 0;
  }
}/*# sourceMappingURL=cart.css.map */