* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins-bold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppins-semibold;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: poppins-medium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: poppins-extrabold;
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}
html {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.align-center {
  align-items: center;
}

.flex-container {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.button {
  padding: 15px 25px;
}

body {
  font-family: poppins;
  /********************
  ===== NAV BAR STYLES =====
  *********************/
  /********************
  ===== MAIN BODY STYLES =====
  *********************/
  /********************
  ===== FOOTER STYLES =====
  *********************/
}
body .nav-bar {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background: white;
  z-index: 999;
}
body .nav-bar .mobile-open-btn-link {
  display: none;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}
body .nav-bar .nav-bar-logo img {
  max-height: 35px;
}
body .nav-bar .nav-bar-search {
  height: 60px;
  background: rgba(0, 0, 0, 0.03);
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
body .nav-bar .nav-bar-search input {
  outline: 0;
  border: none;
  width: calc(100% - 100px);
  background: transparent;
  font-size: 1.1rem;
}
body .nav-bar .nav-bar-search button {
  width: 50px;
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}
body .nav-bar .pop-up {
  min-width: 250px;
  width: auto;
  height: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: absolute;
  top: 60px;
  right: 0px;
  background: white;
  font-size: 1rem;
  text-align: left;
  cursor: default;
}
body .nav-bar .pop-up .account-pop-up-header {
  justify-content: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body .nav-bar .pop-up .account-pop-up-header .account-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}
body .nav-bar .pop-up .account-pop-up-header .account-details {
  margin-left: 15px;
}
body .nav-bar .pop-up .account-pop-up-header .account-details h2 {
  font-size: 1.15rem;
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-family: poppins-semibold;
}
body .nav-bar .pop-up .account-pop-up-header .account-details p {
  padding: 0px;
  margin: 0px;
  margin-top: 2px;
  font-size: 0.8rem;
}
body .nav-bar .pop-up .account-pop-up-link {
  list-style: none;
  padding: 20px 0px;
}
body .nav-bar .pop-up .account-pop-up-link li a {
  color: #3b3e44;
  font-family: poppins-medium;
}
body .nav-bar .pop-up .account-pop-up-link li a .icon {
  font-size: 1.5rem;
}
body .nav-bar .pop-up .account-pop-up-link li a .text {
  margin-left: 15px;
}
body .nav-bar .pop-up .account-pop-up-link li .slide-button {
  width: 40px;
  height: 25px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  background: #0D9488;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}
body .nav-bar .pop-up .account-pop-up-link li:not(:first-child) {
  margin-top: 15px;
}
body .nav-bar .pop-up .account-pop-up-link:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body .nav-bar .pop-up .account-pop-up-link:last-child {
  padding-bottom: 0px;
}
body .nav-bar .pop-up .account-pop-up-link:not(:first-child) {
  padding-top: 10px;
}
body .nav-bar .pop-up .cart-pop-up-top {
  width: 100%;
  height: calc(100% - 150px);
  padding: 20px;
  overflow-y: scroll;
  scrollbar-color: rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
}
body .nav-bar .pop-up .cart-pop-up-top::-webkit-scrollbar {
  width: 3px;
}
body .nav-bar .pop-up .cart-pop-up-top::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
body .nav-bar .pop-up .cart-pop-up-top h2 {
  font-size: 1.3rem;
  font-family: poppins-semibold;
}
body .nav-bar .pop-up .cart-pop-up-top .cart-item {
  padding: 20px 0px;
}
body .nav-bar .pop-up .cart-pop-up-top .cart-item .cart-item-image {
  width: 90px;
  height: 110px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
body .nav-bar .pop-up .cart-pop-up-top .cart-item .cart-item-details {
  margin-left: 15px;
  flex: 1;
}
body .nav-bar .pop-up .cart-pop-up-top .cart-item .cart-item-details .details-content h3 {
  font-size: 1.1rem;
  font-family: poppins-semibold;
}
body .nav-bar .pop-up .cart-pop-up-top .cart-item .cart-item-details .details-content .quality .divider {
  color: rgba(0, 0, 0, 0.2);
}
body .nav-bar .pop-up .cart-pop-up-top .cart-item .cart-item-details .details-content .quality span:not(:first-child) {
  margin-left: 10px;
}
body .nav-bar .pop-up .cart-pop-up-top .cart-item .cart-item-details .details-content .remove-btn {
  color: red;
  border: none;
  padding: 0px;
  background: none;
  outline: none;
  width: auto;
  height: auto;
}
body .nav-bar .pop-up .cart-pop-up-top .cart-item .cart-item-details .details-content .price {
  border: 2px solid #22C55E;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px 10px;
  color: #22C55E;
}
body .nav-bar .pop-up .cart-pop-up-top .cart-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body .nav-bar .pop-up .cart-pop-up-bottom {
  height: 150px;
  width: 100%;
  background: rgba(0, 0, 0, 0.02);
  padding: 20px;
}
body .nav-bar .pop-up .cart-pop-up-bottom .cart-bottom-header h3,
body .nav-bar .pop-up .cart-pop-up-bottom .cart-bottom-header h2 {
  font-family: poppins-semibold;
}
body .nav-bar .pop-up .cart-pop-up-bottom .cart-bottom-header h3 {
  font-size: 1.1rem;
}
body .nav-bar .pop-up .cart-pop-up-bottom .cart-bottom-header h2 {
  font-size: 1.2rem;
}
body .nav-bar .pop-up .cart-pop-up-bottom .cart-bottom-header p {
  font-size: 0.9rem;
}
body .nav-bar .pop-up .cart-pop-up-bottom .cart-bottom-action .cart-bottom-action-button {
  width: 46%;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
body .nav-bar .pop-up .cart-pop-up-bottom .cart-bottom-action .cart-btn {
  background: white;
  color: #172133;
}
body .nav-bar .pop-up .cart-pop-up-bottom .cart-bottom-action .checkout-btn {
  background: #172133;
  color: white;
}
body .nav-bar .cart-pop-up {
  height: calc(100vh - 80px - 10px);
  max-height: 550px;
  min-width: 450px;
  padding: 0px;
}
body .nav-bar .nav-bar-links {
  list-style: none;
  margin: 0px;
}
body .nav-bar .nav-bar-links li {
  margin: 0px;
}
body .nav-bar .nav-bar-links li:not(:first-child) {
  margin-left: 10px;
}
body .nav-bar .nav-bar-links li a {
  color: black;
  font-weight: 550;
  font-size: 1rem;
  font-family: poppins-medium;
  padding: 10px 25px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
body .nav-bar .nav-bar-links li a:hover {
  background: rgba(0, 0, 0, 0.03);
}
body .nav-bar .nav-bar-side-links .side-link {
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}
body .nav-bar .nav-bar-side-links .side-link:not(:first-child) {
  margin-left: 25px;
}
body .nav-bar .nav-bar-side-links .side-link .cart-stats {
  background: #0EA5E9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 4px;
  right: -4px;
  width: 14px;
  height: 14px;
  color: white;
  font-size: 0.7rem;
}
body .nav-bar .nav-bar-side-links .mobile-side-link {
  display: none;
}
body .mobile-nav {
  max-width: 500px;
  width: 100%;
  height: 100vh;
  background: white;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 20px;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
body .mobile-nav .mobile-nav-header img {
  max-height: 35px;
}
body .mobile-nav .mobile-nav-header .close-mobile-nav-btn {
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}
body .mobile-nav .mobile-nav-description {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.7);
}
body .mobile-nav .mobile-nav-links {
  padding: 20px 0px;
  padding-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  list-style: none;
}
body .mobile-nav .mobile-nav-links li {
  text-transform: uppercase;
}
body .mobile-nav .mobile-nav-links li:not(:first-child) {
  margin-top: 30px;
}
body .mobile-nav .mobile-nav-links li a {
  color: rgba(0, 0, 0, 0.7);
}
body .anim-container {
  height: 100%;
  width: 100%;
}
body .main-body {
  min-height: 100vh;
  height: 100%;
  /********************
  ===== HOMEPAGE =====
  *********************/
  /********************
  ===== BANNER/HERO SECTION STYLES =====
  *********************/
  /********************
  ===== BUYING STEPS SECTION STYLES =====
  *********************/
  /********************
  ===== ADVERTISEMENT SECTION STYLES =====
  *********************/
  /********************
  ===== CONTACT =====
  *********************/
}
body .main-body .banner {
  background: #E3FFE6;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  max-height: 770px;
}
body .main-body .banner .banner-container {
  position: relative;
  height: 100%;
}
body .main-body .banner .banner-container .ellipse {
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 30px;
  height: 30px;
  background: grey;
}
body .main-body .banner .banner-container .ellipse-one {
  width: 15px;
  height: 15px;
  bottom: 15%;
  background: #FF6650;
}
body .main-body .banner .banner-container .ellipse-two {
  width: 15px;
  height: 15px;
  bottom: 10%;
  left: 15%;
  background: #43B97F;
}
body .main-body .banner .banner-container .ellipse-three {
  top: calc(80px + 13%);
  left: 50%;
  transform: translateX(-50%);
  background: #C280D2;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
body .main-body .banner .banner-container .ellipse-four {
  width: 20px;
  height: 20px;
  top: calc(80px + 21%);
  right: 10%;
  background: #43B97F;
}
body .main-body .banner .banner-container .banner-main-content {
  padding-top: 80px;
  position: relative;
  height: 100%;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
body .main-body .banner .banner-container .banner-main-content .banner-content .banner-subtitle {
  font-family: poppins-medium;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}
body .main-body .banner .banner-container .banner-main-content .banner-content .banner-title,
body .main-body .banner .banner-container .banner-main-content .banner-content .banner-call-to-action {
  width: 100%;
  margin-left: -20%;
  transition: 0.5s ease all;
  -webkit-transition: 0.8s ease all;
  -moz-transition: 0.8s ease all;
  -ms-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
}
body .main-body .banner .banner-container .banner-main-content .banner-content .banner-title {
  margin-top: 30px;
  font-size: 4rem;
  font-family: poppins;
  font-weight: 600;
}
body .main-body .banner .banner-container .banner-main-content .banner-content .banner-call-to-action {
  padding: 17px 30px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: auto;
  height: auto;
  background: #172133;
  color: white;
  margin-top: 40px;
  font-size: 1.2rem;
}
body .main-body .banner .banner-container .banner-main-content .banner-content .banner-call-to-action .icon {
  margin-left: 10px;
}
body .main-body .banner .banner-container .banner-main-content .banner-image {
  position: absolute;
  z-index: 9;
  max-height: 620px;
  max-width: 700px;
  bottom: 0px;
  right: 0px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
body .main-body .banner .banner-container .active-animation {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
body .main-body .banner .banner-container .active-animation .banner-content .banner-title,
body .main-body .banner .banner-container .active-animation .banner-content .banner-call-to-action {
  margin-left: 0px;
}
body .main-body .banner .banner-container .active-animation .banner-image {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
body .main-body .buying-steps {
  padding: 100px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body .main-body .buying-steps .buying-steps-content .buying-steps-inner-content .step-card {
  text-align: center;
}
body .main-body .buying-steps .buying-steps-content .buying-steps-inner-content .step-card .step-image {
  max-width: 100px;
}
body .main-body .buying-steps .buying-steps-content .buying-steps-inner-content .step-card .step-card-tag,
body .main-body .buying-steps .buying-steps-content .buying-steps-inner-content .step-card .step-card-title,
body .main-body .buying-steps .buying-steps-content .buying-steps-inner-content .step-card .step-card-subtitle {
  margin-top: 15px;
}
body .main-body .buying-steps .buying-steps-content .buying-steps-inner-content .step-card .step-card-tag {
  display: inline-flex;
  padding: 5px 15px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 0.8rem;
  margin-top: 25px;
}
body .main-body .buying-steps .buying-steps-content .buying-steps-inner-content .step-card .step-card-title {
  font-size: 1rem;
  font-family: poppins-semibold;
}
body .main-body .buying-steps .buying-steps-content .buying-steps-inner-content .step-card .step-card-subtitle {
  color: rgba(0, 0, 0, 0.7);
}
body .main-body .advertisement {
  padding: 150px 0px;
}
body .main-body .advertisement .advertisement-container {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: #FEFCE8;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content {
  height: 500px;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-list li .count {
  background: rgba(0, 0, 0, 0.1);
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-list li .first-count {
  background: #F3E8FF;
  color: #6B4DC4;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-list li .second-count {
  background: #DBEAFE;
  color: #4F58B4;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-list li .third-count {
  background: #FEE2E2;
  color: #B3471B;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-list li:not(:first-child) {
  margin-top: 20px;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-input {
  width: 100%;
  height: 40px;
  max-width: 400px;
  margin-top: 30px;
  position: relative;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-input input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: white;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 15px;
  padding-right: 45px;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-input button {
  width: 35px;
  height: 35px;
  background: #172133;
  color: white;
  font-size: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-input button .icon {
  margin: 0px;
  padding: 0px;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-logo {
  max-height: 40px;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-title {
  max-width: 370px;
  font-size: 3.5rem;
  margin-top: 40px;
  font-family: poppins-semibold;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-subtitle {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.05rem;
  margin-top: 30px;
  max-width: 440px;
  font-family: poppins-medium;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-call-to-action {
  display: inline-flex;
  background: #172133;
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 15px 25px;
  margin-top: 20px;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-image {
  position: relative;
  height: 100%;
}
body .main-body .advertisement .advertisement-container .advertisement-inner-content .advertisement-image img {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
body .main-body .advertisement-two {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
body .main-body .advertisement-two .advertisement-container {
  background: #F8FAFC;
}
body .main-body .advertisement-two .advertisement-container .advertisement-inner-content {
  height: 600px;
}
body .main-body .advertisement-two .advertisement-container .advertisement-inner-content .advertisement-details {
  padding-left: 50px;
}
body .main-body .advertisement-two .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-title {
  max-width: unset;
  font-size: 3rem;
}
body .main-body .advertisement-two .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-subtitle {
  max-width: unset;
}
body .main-body .advertisement-two .advertisement-container .advertisement-inner-content .advertisement-details .advertisement-call-to-action {
  display: inline-flex;
  background: #172133;
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 15px 25px;
  margin-top: 20px;
}
body .main-body .advertisement-two .advertisement-container .advertisement-inner-content .advertisement-image {
  position: relative;
  height: 100%;
}
body .main-body .advertisement-two .advertisement-container .advertisement-inner-content .advertisement-image img {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
body .main-body .contact-banner {
  padding: 50px 0px;
  padding-top: 130px;
}
body .main-body .contact-banner .contact-title {
  font-size: 3.3rem;
  font-family: poppins-semibold;
}
body .main-body .contact-content {
  margin-bottom: 70px;
}
body .main-body .contact-content .contact-content-details .details-container {
  margin-bottom: 50px;
}
body .main-body .contact-content .contact-content-details .details-container p {
  font-size: 1.1rem;
  padding: 0px;
  margin: 0px;
}
body .main-body .contact-content .contact-content-details .details-container p.title {
  font-family: poppins-semibold;
  font-size: 1.2rem;
}
body .main-body .contact-content .contact-content-details .details-container p.value {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.8);
}
body .main-body .contact-content .contact-content-details .details-container:not(:first-child) {
  margin-top: 50px;
}
body .main-body .contact-content .contact-content-details .form-content:not(:first-child) {
  margin-top: 25px;
}
body .main-body .contact-content .contact-content-details .form-content label {
  font-family: poppins-semibold;
}
body .main-body .contact-content .contact-content-details .form-content textarea,
body .main-body .contact-content .contact-content-details .form-content input {
  margin-top: 8px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  padding: 0px 15px;
  font-family: poppins;
}
body .main-body .contact-content .contact-content-details .form-content textarea:focus,
body .main-body .contact-content .contact-content-details .form-content input:focus {
  border: 2px solid rgba(0, 0, 0, 0.4);
}
body .main-body .contact-content .contact-content-details .form-content .form-err {
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  font-size: 0.9rem;
  color: rgb(255, 40, 20);
}
body .main-body .contact-content .contact-content-details .form-content .submit-btn {
  width: auto;
  height: auto;
  background: #172133;
  color: white;
  padding: 15px 25px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
body .main-body .contact-content .contact-content-details .form-content input {
  height: 50px;
}
body .main-body .contact-content .contact-content-details .form-content textarea {
  height: 150px;
  padding: 15px;
}
body .footer {
  padding: 70px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 70px;
  background: black;
  color: white;
}
body .footer .footer-content {
  margin-bottom: 30px;
}
body .footer .footer-content .py-4 {
  color: rgba(255, 255, 255, 0.8);
}
body .footer .footer-content .footer-image {
  max-height: 35px;
}
body .footer .footer-content .footer-content-title {
  font-size: 1.1rem;
  font-family: poppins-semibold;
}
body .footer .footer-content .social-links {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
}
body .footer .footer-content .social-links li:not(:first-child) {
  margin-top: 20px;
}
body .footer .footer-content .social-links li a {
  color: rgba(255, 255, 255, 0.8);
}
body .footer .footer-content .social-links li a .social-link-image {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}
body .footer .footer-content .social-links li a .social-link-image img {
  width: 70px;
  height: 70px;
}
body .footer .footer-content .social-links li a img {
  max-width: 15px;
  max-height: 15px;
}
body .footer .footer-content .social-links li a .social-link-text {
  margin-left: 10px;
}
body .footer .footer-content .footer-links {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
}
body .footer .footer-content .footer-links li:not(:first-child) {
  margin-top: 20px;
}
body .footer .footer-content .footer-links li a {
  color: rgba(255, 255, 255, 0.8);
}
body .footer .footer-content .footer-links li a .text {
  margin-left: 10px;
}
@media only screen and (max-width: 900px) {
  body .nav-bar .nav-bar-search {
    display: none;
  }
  body .nav-bar .mobile-open-btn-link {
    display: block;
  }
  body .nav-bar .desktop-links {
    display: none;
  }
  body .nav-bar .nav-bar-side-links .side-link:not(:first-child) {
    margin-left: 15px;
  }
  body .nav-bar .nav-bar-side-links .search-open-btn {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  body .footer .social-footer-content {
    display: flex;
    align-items: center;
  }
  body .footer .social-footer-content .footer-image {
    order: 1;
  }
  body .footer .social-footer-content .social-links {
    display: flex;
    margin-left: 30px;
    margin-top: 0px;
    order: 2;
  }
  body .footer .social-footer-content .social-links li:not(:first-child) {
    margin-top: 0px;
    margin-left: 10px;
  }
  body .footer .social-footer-content .social-links li a .social-link-image img {
    width: 100px;
    height: 100px;
  }
  body .footer .social-footer-content .social-links li a .social-link-text {
    display: none;
  }
  body .footer .social-footer-content .py-4 {
    order: 3;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 500px) {
  body .nav-bar .cart-pop-up {
    display: none;
  }
  body .nav-bar .nav-bar-side-links .desktop-side-link {
    display: none;
  }
  body .nav-bar .nav-bar-side-links .mobile-side-link {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */