@import "./variables";
@import "./styles";

body{
    font-family: poppins;

    /********************
    ===== NAV BAR STYLES =====
    *********************/



    .nav-bar{
        width: 100%;
        height: getMeasurement("headerHeight");
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        background: white;
        z-index: 999;

        .mobile-open-btn-link{
            display: none;
            background: transparent;
            outline: none;
            border: none;
            font-size: 1.8rem;
            color: rgba(0, 0, 0, .7);
            position: relative;
        }

        .nav-bar-logo{

            img{
                max-height: 35px;
            }
        }

        .nav-bar-links{
            list-style: none;
            margin: 0px;

            li{
                margin: 0px;

                &:not(:first-child){
                    margin-left: 40px;
                }

                a{
                    color: getColor("textColor");
                    font-weight: 550;
                    font-size: 1.13rem;

                }
            }

        }

        .nav-bar-side-links{

            .side-link{
                background: transparent;
                outline: none;
                border: none;
                font-size: 1.8rem;
                color: rgba(0, 0, 0, .7);
                position: relative;
                
                &:not(:first-child){
                    margin-left: 25px;

                }

                .cart-stats{
                    background: getColor("cartStat");
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    position: absolute;
                    top: 4px;
                    right: -4px;
                    width: 14px;
                    height: 14px;
                    color: white;
                    font-size: 0.7rem;

                }
            }
        }
    }

    .mobile-nav{
        max-width: 500px;
        width: 100%;
        height: 100vh;
        background: white;
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 20px;
        transition: 0.5s ease all;
        -webkit-transition: 0.5s ease all;
        -moz-transition: 0.5s ease all;
        -ms-transition: 0.5s ease all;
        -o-transition: 0.5s ease all;


        .mobile-nav-header{

            img{
                max-height: 35px;
            }

            .close-mobile-nav-btn{
                background: transparent;
                outline: none;
                border: none;
                font-size: 1.8rem;
                color: rgba(0, 0, 0, .7);
                position: relative;

            }
        }

        .mobile-nav-description{
            margin-top: 30px;
            color: rgba(0, 0, 0, .7);
        }

        .mobile-nav-links{
            padding: 20px 0px;
            padding-top: 30px;
            border-top: 1px solid rgba(0, 0, 0, .2);
            list-style: none;

            li{
                text-transform: uppercase;

                &:not(:first-child){
                    margin-top: 30px;
                }

                a{

                    color: rgba(0, 0, 0, .7);
                }
            }
        
        }

    }

    .main-body{
        min-height: 100vh;
        height: 100%;

        .banner{
            background: getColor("hero");
            width: 100%;
            height: 100vh;
            max-height: 770px;
        }
    }

    .footer{
        padding: getMeasurement("paddingVertical") 0px;
        border-top: 1px solid rgba(0, 0, 0, .2);
        padding-bottom: 70px;

        .footer-content{
            margin-bottom: 30px;

            .footer-image{
                max-height: 35px;
            }

            .footer-content-title{
                font-size: 1.1rem;
                font-family: poppins-semibold;
            }

            .social-links{
                list-style: none;
                padding: 0px;
                margin: 0px;
                margin-top: 20px;

                li{


                    &:not(:first-child){
                        margin-top: 20px;
                    }

                    a{
                        color: rgba(0, 0, 0, .7);

                        .social-link-image{
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                            // overflow: hidden;
                            position: relative;
                            // border: 1px solid red;

                            img{
                                width: 70px;
                                height: 70px;
                            }
                        }

                        

                        img{
                            max-width: 15px;
                            max-height: 15px;
                        }

                        .social-link-text{
                            margin-left: 10px;
                        }
                    }
                }
            }

            .footer-links{
                list-style: none;
                padding: 0px;
                margin: 0px;
                margin-top: 20px;

                li{


                    &:not(:first-child){
                        margin-top: 20px;
                    }

                    a{
                        color: rgba(0, 0, 0, .7);
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 900px){

        .nav-bar{

            .mobile-open-btn-link{
                display: block;
            }

            .desktop-links{
                display: none;
            }

            .nav-bar-side-links{

                .side-link{

                    &:not(:first-child){
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 767px){
        .footer{

            .social-footer-content{
                display: flex;
                align-items: center;

                .social-links{
                    display: flex;
                    margin-left: 30px;
                    margin-top: 0px;

                    li{

                        &:not(:first-child){
                            margin-top: 0px;
                            margin-left: 10px;
                        }
                        
                        a{

                            .social-link-image{

                                img{
                                    width: 100px;
                                    height: 100px;
                                }
                            }
                            
                            .social-link-text{
                                display: none;

                            }
                        }
                    }
                }
            }

        }
    }
}
